    

        body
        {
            background-color: blueviolet;font-size:18px;font-style: italic;
        }
        div
        {
            background-color: yellow;
            display:inline-block
        }
        h1{
            color:aqua;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    